@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#state-fair {
    background-color: rgb(253, 241, 241);
    margin: 20px;
}
.ticketBooth {
    margin-bottom: 1rem;
    text-align: center;
}

.attractions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30rem;
    padding: 10px;
}

.attraction {
    flex: 1;
    border: 1px dashed rgb(248, 154, 154);
    text-align: center;
}

.people {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
}

.person {
    height: 1rem;
    width: 1rem;
    margin: 0.2rem 0.2rem;
}

#foodTicket, .eater {
    background-color: fuchsia;
} 

#rideTicket, .rider {
    background-color: dodgerblue;
}

#fullPackageTicket, .bigSpender {
    background-color: orange;
}

#gameTicket, .player {
    background-color: lawngreen;
}

#sideshowTicket, .gawker {
    background-color: firebrick;
}

.customers {
    font-weight: 700;
    padding: 1rem;
}

